* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  height: 100vh;
  background-color: #19a2ae;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: left -20rem top -50rem, right -15rem bottom -65rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #2d3248;
  line-height: 1.3; }
  @media only screen and (max-width: 37.5em) {
    body {
      background-position: left -77rem top -80rem, right -80rem bottom -80rem; } }
  @media only screen and (max-width: 23.4em) {
    body {
      background-position: left -95rem top -80rem, right -95rem bottom -75rem; } }

.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 38rem; }
  .card .bottom {
    margin-top: -0.8rem;
    background-color: white; }
  .card-personal {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 3rem; }
  .card-photo {
    position: absolute;
    top: 0;
    display: inline-block;
    border-radius: 50%;
    border: 0.4rem solid white;
    transform: translateY(-50%); }
  .card-name {
    margin: 4.3rem 0 0.8rem; }
    @media only screen and (max-width: 37.5em) {
      .card-name {
        margin: 5.3rem 0 0.8rem; } }
  .card-age {
    color: #6a6f81; }
  .card-location {
    color: #6a6f81;
    font-size: 1.4rem; }
  .card-details-list {
    width: 100%;
    padding: 2.2rem;
    list-style: none;
    border-top: 0.1rem solid #d3d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .card-details-list-item span {
      font-size: 1.3rem;
      color: #969696; }
